
<!DOCTYPE html>
<html class="js cssanimations">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>在线留言</title>
	<link rel="stylesheet" href="./qtimages/amazeui.min.css">
	<link rel="stylesheet" href="./qtimages/app.css">
	<link rel="stylesheet" href="./qtimages/touch.css">
	<link rel="stylesheet" href="./qtimages/layout.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/slider.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/animate.min.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/video.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/component.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/style.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/remodal.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/remodal-default-theme.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/caddy.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/licheng.css">
	<link rel="stylesheet" href="./qtimages/sl_common_form.css">
</head>
<body style="">
<div  id="wrapper">
<script src="qttop.js"></script>
<script src="bht.js"></script>

 <div class="contentc">
        <div class="box">
            <div class="contentbt">在线留言</div>
			<div class="footer"></div>
            <div class="contentc_c">
                <ul>
 					<div class="content-form" >
							
							
					<div style="padding: 0 20px">


                        <!-- 表格主体-->
                        <div style="margin-top: 10px">
                            <div style="border: 1px solid #ff6b31;">
                                <div style="padding: 5px; border-bottom: 1px solid #ff6b31; color: white; background-color: #ff6b31;">留言板</div>
                                <div style="border: 1px solid #ccc; padding: 10px">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form-horizontal">
                                                <input type="hidden" v-model="entity.id">
                                                <table class="table table-striped table-bordered table-hover">
                                                    <tr ><td>用户名</td><td><input type="text" class="form-control" value="user.yonghuming" v-model="entity.yonghuming" style="width: 160px" placeholder="请输入用户名" id="yonghuming" disabled></td></tr>
                                                    <tr ><td>昵称</td><td><input type="text" class="form-control" v-model="entity.cheng" style="width: 160px" placeholder="请输入昵称" id="cheng"></td></tr>
                                                    <tr ><td>头像</td>
                                                        <td><input id="touxiang" v-model="entity.touxiang" type="radio" value="1" checked  >
                                                            <img src="img/1.gif" width="64" height="71">
                                                            <input type="radio" v-model="entity.touxiang" id="touxiang" value="2">
                                                            <img src="img/2.gif"  width="64" height="71">
                                                            <input type="radio" v-model="entity.touxiang" id="touxiang" value="3">
                                                            <img src="img/3.gif" width="64" height="71">
                                                            <input type="radio" v-model="entity.touxiang" id="touxiang" value="4">
                                                            <img src="img/4.gif" width="64" height="71">
                                                            <input type="radio" v-model="entity.touxiang" id="touxiang" value="5">
                                                            <img src="img/5.gif" width="64" height="71"></td>
                                                    </tr>
                                                    <tr ><td>标题</td><td><input type="text" class="form-control" v-model="entity.biaoti" style="width: 360px" placeholder="请输入标题" id="biaoti"></td></tr>
                                                    <tr ><td>内容</td><td><textarea type="text" class="form-control" v-model="entity.neirong" style="width: 400px;height: 100px" placeholder="请输入内容" id="neirong"></textarea></td></tr>
                                                    <tr style='display:none'><td>回复</td><td><textarea type="text" class="form-control" v-model="entity.huifu" style="width: 400px;height: 100px" placeholder="请输入回复" id="huifu"></textarea></td></tr>

                                                </table>
                                            </form>
                                            <div style="text-align: center">
                                                <button type="button" class="btn btn-primary" v-on:click="update()">保存</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 表格主体结束-->
                    </div>
                                                   							
							
						</div>
                </ul>
            </div>
        </div>
    </div>
<script src="./qtimages/jquery.min.js"></script>
<script type="text/javascript" src="./qtimages/pingzi_video.js"></script>
<script src="./qtimages/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
<script src="./qtimages/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./qtimages/swiper.animate.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./qtimages/main.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="./qtimages/amazeui.min.js"></script>
<script type="text/javascript" src="./qtimages/font_size.js"></script>
<script type="text/javascript" src="./qtimages/modernizr.custom.js"></script>
<script type="text/javascript" src="./qtimages/classie.js"></script>
<script type="text/javascript" src="./qtimages/uisearch.js"></script>
<script type="text/javascript" src="./qtimages/jQuery.rTabs.js"></script>
<script src="./qtimages/remodal.js"></script>
<script src="./qtimages/caddy.js"></script>
<script src="./qtimages/huakuai.js"></script>
<script> new UISearch( document.getElementById( 'sb-search' ) );</script>
<script src="qtdown.js"></script>
</div>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/element/index.css">
<link rel="stylesheet" href="css/hsg.css">
<script src="js/my.js"></script>
<script src="js/vue2.6.11/vue.min.js"></script>
<script src="js/vue2.6.11/axios.js"></script>
<script src="js/element/index.js"></script>
<script>
    function checkValid(entity) {
        if (!entity.yonghuming || entity.yonghuming === "") {alert("用户名不能为空"); return false;}
        if (!entity.cheng || entity.cheng === "") {alert("昵称不能为空"); return false;}

        return true;
    }
    new Vue({
        el: '#wrapper',
        data: {

            authority: [],
            permission: [],
            storeUser: JSON.parse(localStorage.getItem("user")),
            name: '',
            user: {},
            liuyanbanInfo: {},
            //hsgdanhejisuan
            //youtupianimrl
            objs: [],

            //youtupianavt
            //youxia2sui
            //youxxiabiaoxduan
            entity: {
                touxiang:'1',
                //youtupianflst
            }
        },
        created:
            function () {

                axios.get('/auth').then(res => {
                    if (res.data.code === '0') {
                        this.user = res.data.data;

                    }else {
                        alert('请先登录');
                        location.href = '/front/index.html';
                    }
                });
                this.user = JSON.parse(localStorage.getItem('user'));

                //   axios.get("/permission/3").then(res => {
                //       if (res.data.code === '0') {
                //           this.permission = res.data.data;
                //       } else {
                //           msg('error', res.data.msg);
                //       }
                //   });
                //   axios.get("/authority").then(res => {
                //       if (res.data.code === '0') {
                //           this.authority = res.data.data;
                //       } else {
                //           msg('error', res.data.msg);
                //       }
                //   });
                if (this.user.level === "用户"){this.entity.yonghuming = this.user.yonghuming;}
                if (this.user.level === "管理员"){this.entity.yonghuming = this.user.username;}
                //youcreatexia2sui
                //youffxiaxbiaoxduan
                //list23Nfbr
                //youtixing
            },
        methods: {

            //m_liangbuinit

            //liebiloadaoduqu

            update() {
                if (checkValid(this.entity)) {

                    if (!this.entity.id) {
                        axios.post(
                            "/liuyanbanInfo", this.entity
                        ).then(res => {
                            if (res.data.code === '0') {
                                msg('success', '添加成功');
                                $('#mod').modal('hide');
                                this.loadTable(1);
                            } else {
                                msg('error', res.data.msg);
                            }
                        })
                    }
                }
            },
            getQueryVariable(variable) {
                let query = window.location.search.substring(1);
                let vars = query.split("&");
                for (let i = 0; i < vars.length; i++) {
                    let pair = vars[i].split("=");
                    if (pair[0] === variable) {
                        return pair[1];
                    }
                }
                return '';
            },
            //m_tupiansccsbaul

            //youscwenjian

            //x2suilafuxzhi

            // logout() {
            //     axios.get("/logout").then(res => {
            //         if(res.data.code === '0') {
            //             location.href = '/front/index.html';
            //         } else {
            //             msg('error', res.data.msg);
            //         }
            //     })
            // }
        }
    })
</script>
</body>
</html>
