<!DOCTYPE html>
<html class="js cssanimations"><head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>图书信息</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="./qtimages/amazeui.min.css">
	<link rel="stylesheet" href="./qtimages/app.css">
	<link rel="stylesheet" href="./qtimages/touch.css">
	<link rel="stylesheet" href="./qtimages/layout.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/slider.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/animate.min.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/video.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/component.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/style.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/remodal.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/remodal-default-theme.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/caddy.css">
    <link rel="stylesheet" type="text/css" href="./qtimages/licheng.css">
	<link rel="stylesheet" href="./qtimages/sl_common_form.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"></head>
<body style="">
<div id="wrapper">
<script src="qttop.js"></script>
<script src="bht.js"></script>
 <div class="contentc">
        <div class="box">
            <div class="contentbt">图书信息</div>
			<div class="footer"></div>
            <div class="contentc_c">
                <ul>
 					<div class="content-form" >
					<div style="margin-top: 10px">
                            <div style="border: 1px solid #ff6b31;">
                                <div style="padding: 5px; border-bottom: 1px solid #ff6b31; color: white; background-color: #ff6b31;">图书信息</div>
                                <div style="border: 1px solid #ccc; padding: 10px">
                                    <div class="table-responsive">
                        <div class="nx-table-header" style="position: relative">

                            <input type="text" placeholder="请输入搜索内容" v-model="name" @keyup.enter="loadTable(1)">
                            <i class="glyphicon glyphicon-search" style="margin-left: -20px"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-primary" v-on:click="qiehuanshitu()">切换视图</button>
                        </div>
                        <div style="width:1380px; float:left">

                            <div style="width:330px; padding-left: 20px; float:left" v-for="obj in objs">
                                <table align="center">
                                    <tr><td align="center">
                                        <a @click="detail(obj.id)"><img v-if="obj.tupianavt" :src="'/files/download/'+obj.tupianavt" style="width: 300px; height: 320px;"><img v-else src="../end/img/no-avater.jpg" style="width: 300px; height: 320px;"></a>
                                    </td>
                                    </tr><tr>
                                    <td height="36" align="center">
                                        {{obj.mingcheng}}		</td>
                                </tr></table>
                            </div>
                        </div>


                                        

                                    </div>
									<nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item" v-bind:class="{ disabled: preActive }">
                                                    <a class="page-link" href="javascript:void(0)"
                                                       v-on:click="loadTable(pageInfo.pageNum - 1)">上一页</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript:void(0)" v-if="pageInfo.pageNum > 1" v-on:click="loadTable(pageInfo.pageNum - 1)">{{pageInfo.pageNum - 1}}</a>
                                                </li>
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-disabled="true" href="javascript:void(0)">{{pageInfo.pageNum}}</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="javascript:void(0)" v-if="pageInfo.hasNextPage" v-on:click="loadTable(pageInfo.pageNum + 1)">{{pageInfo.pageNum + 1}}</a>
                                                </li>
                                                <li class="page-item" v-bind:class="{ disabled: nextActive }">
                                                    <a class="page-link" href="javascript:void(0)" v-on:click="loadTable(pageInfo.hasNextPage? (pageInfo.pageNum + 1) : pageInfo.pageNum)">下一页</a>
                                                </li>
                                            </ul>
                                        </nav>
                                </div>
                            </div>
                        </div>
					</div>
                </ul>
            </div>
        </div>
    </div>
<script src="./qtimages/jquery.min.js"></script>
<script type="text/javascript" src="./qtimages/pingzi_video.js"></script>
<script src="./qtimages/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
<script src="./qtimages/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./qtimages/swiper.animate.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./qtimages/main.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="./qtimages/amazeui.min.js"></script>
<script type="text/javascript" src="./qtimages/font_size.js"></script>
<script type="text/javascript" src="./qtimages/modernizr.custom.js"></script>
<script type="text/javascript" src="./qtimages/classie.js"></script>
<script type="text/javascript" src="./qtimages/uisearch.js"></script>
<script type="text/javascript" src="./qtimages/jQuery.rTabs.js"></script>
<script src="./qtimages/remodal.js"></script>
<script src="./qtimages/caddy.js"></script>
<script src="./qtimages/huakuai.js"></script>
<script> new UISearch( document.getElementById( 'sb-search' ) );</script>
<script src="qtdown.js"></script>
<!--daipxingxlun-->
</div>
<script src="js/swiper-5.4.5/swiper.min.js"></script>
<script src="js/vue2.6.11/axios.js"></script>
<script src="js/vue2.6.11/vue.min.js"></script>
<script src="js/my.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/element/index.css">
<link rel="stylesheet" href="css/hsg.css">
<script>
	new Vue({
		el: '#wrapper',
		data: {
			authority: [],
			permission: [],
			storeUser: JSON.parse(localStorage.getItem("user")),
			name: '',
			// gonghao: '',
			//xingming:'',
			user: {},
			searchText: null,
		
tupianimrl: '',//youtupianimrl			
			objs: [],
			pageInfo: {},
			preActive: true,
			nextActive: true,
			isShow: false,
tupianavt:null,//youtupianavt			
			entity: {

			}
		},
		created: function () {
			axios.get('/auth').then(res => {
				if (res.data.code === '0') {
					this.user = res.data.data;
				}
			});
			
			this.loadTable(1);
		},
		methods: {
			loadTable(pageNum) {
				let name = this.name === '' ? "all" : this.name;
				axios.get("/tushuxinxiInfo/pageqt/" + name + "?pageNum=" + pageNum).then(res => {
					if (res.data.code === '0') {
						this.objs = res.data.data.list;
						res.data.data.list.forEach(item=>{
							//if(item.zhaopian) {item.zhaopianavt = JSON.parse(item.zhaopian)[0];}
							if(item.tupian) {item.tupianavt = JSON.parse(item.tupian)[0];}                            //tupianloadtb
							//dhjsuanxx
						})
						this.pageInfo = res.data.data;
						this.preActive = !(this.pageInfo.hasPreviousPage);
						this.nextActive = !(this.pageInfo.hasNextPage);
					} else {
						msg('error', res.data.msg);
					}
				});
			},
			searchShangpinxinxi(text) {   // 根据关键字查询商品
				if(text) {
					location.href = '/front/tushuxinxilisttp.html?text=' + text;
				}else {
					location.href = '/front/tushuxinxilisttp.html';
				}
			},
			detail(id){
				window.location = "tushuxinxidetail.html?tushuxinxiid="+id;
			},
			qiehuanshitu()
			{
				window.location = "tushuxinxilist.html";
			},
			tupiansccs(res, file) {
                this.tupianimrl = URL.createObjectURL(file.raw);
                this.entity.tupianflst.push(res.data.id);
                this.tupianavt = res.data.id
            },
            tupianbaul(file) {
                this.entity.tupianflst = [];
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2000MB!');
                }
                return isJPG && isLt2M;
            },			//m_tupiansccsbaul
			logout() {
				axios.get("/logout").then(res => {
					if(res.data.code === '0') {
						location.href = '/front/index.html';
					} else {
						msg('error', res.data.msg);
					}
				})
			}
		}
	})
</script>
</body>
</html>
