/*页码*/
#yema {height: 25px;clear: both;text-align: center;margin: 30px 0;}
#yema .pages a { vertical-align: middle; font-size: 14px; font-family: "Microsoft YaHei"; width: 25px; height: 25px; line-height: 25px; text-align: center; border: 1px solid #C6C6C6;/* background-color: #c6c6c6; */ color: #666; display: inline-block; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;  }
#yema .pages span {  vertical-align: middle;  color: #ffffff;  width: 27px;  height: 27px;  line-height: 27px;  background-color: #3c6ca5;  display: inline-block;  font-size: 14px;
}
#yema .pages a.a1{
    width: 60px;
}
/*通用*/

*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
ul{padding: 0;margin: 0;}
.clearfix, .c {zoom: 1;clear: both;}
.clearfix:after, .clearfix:before, .c:after, .c:before {display: table;content: "";}
.clearfix:after, .c:after {clear: both;}
.box{width: 1440px; margin: 0 auto;}
.l{float: left;}
.r{float: right;}