<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.LaonianrenInfoDao">

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(id) from `laonianren_info` where ${column} = #{value}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>

  <select id="findByYonghumingzj" resultType="com.example.vo.LaonianrenInfoVo">
        select * from `laonianren_info` where `yonghuming` = #{username}
    </select>

    <select id="findByJianjie" resultType="com.example.vo.LaonianrenInfoVo">
        select `laonianren_info`.* from `laonianren_info`
        where 1 = 1
        <if test="jianjie != null and jianjie != '' and jianjie != 'all'">
            and 
			(
			`laonianren_info`.`jianjie` like concat('%', #{jianjie}, '%')
			 or `laonianren_info`.`yonghuming` like concat('%', #{jianjie}, '%')             or `laonianren_info`.`xingming` like concat('%', #{jianjie}, '%')             or `laonianren_info`.`xingbie` like concat('%', #{jianjie}, '%')             or `laonianren_info`.`shenfenzheng` like concat('%', #{jianjie}, '%')             or `laonianren_info`.`shouji` like concat('%', #{jianjie}, '%')             or `laonianren_info`.`zhuzhi` like concat('%', #{jianjie}, '%')             or `laonianren_info`.`jianjie` like concat('%', #{jianjie}, '%')             
			)
			
        </if>
        order by `laonianren_info`.id
    </select>
	<!--list23N-->
    <select id="count" resultType="Integer">
        select count(id) from `laonianren_info`
    </select>
</mapper>

