<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.TushuxinxiInfoDao">

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(id) from `tushuxinxi_info` where ${column} = #{value}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>

  <select id="findByTushubianhaozj" resultType="com.example.vo.TushuxinxiInfoVo">
        select * from `tushuxinxi_info` where `tushubianhao` = #{username}
    </select>

    <select id="findByKucun" resultType="com.example.vo.TushuxinxiInfoVo">
        select `tushuxinxi_info`.* from `tushuxinxi_info`
        where 1 = 1
        <if test="kucun != null and kucun != '' and kucun != 'all'">
            and 
			(
			`tushuxinxi_info`.`kucun` like concat('%', #{kucun}, '%')
			 or `tushuxinxi_info`.`tushubianhao` like concat('%', #{kucun}, '%')             or `tushuxinxi_info`.`mingcheng` like concat('%', #{kucun}, '%')             or `tushuxinxi_info`.`zuozhe` like concat('%', #{kucun}, '%')             or `tushuxinxi_info`.`chubanshe` like concat('%', #{kucun}, '%')             or `tushuxinxi_info`.`chubannianfen` like concat('%', #{kucun}, '%')             or `tushuxinxi_info`.`kucun` like concat('%', #{kucun}, '%')             
			)
			
        </if>
        order by `tushuxinxi_info`.id
    </select>
	<!--list23N-->
    <select id="count" resultType="Integer">
        select count(id) from `tushuxinxi_info`
    </select>
</mapper>

